html{
  /*background-color: #white; //Can someone please make the logo bg transparent*/
  background-color: #fcfdff;
}


body{
  font-family: 'Lato', sans-serif;
  font-weight: 200;
}

h1{
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 5em;
}

.main-header{
  text-align: center;
  margin-top: 7%;
}

.main-logo{
  height:40px;
  margin:10px;
}
nav{
  background-color: #fcfdff;
  box-shadow: none;
}
nav li a{
  color: black;
}
p{
  font-size: 1.45em;
  font-weight: lighter;
}
