
html{
  /*background-color: #white; //Can someone please make the logo bg transparent*/
  background-color: #fcfdff;
}

body{
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}

h1{
  font-family: 'Alegreya Sans', sans-serif;
}

.main-header{
  text-align: center;
  margin-top: 17%;
}
.main-logo{
  height:20%;
}
.main-logo:hover{

}
.s12, .s4{
  text-align: center;
}
.btn{
  font-size: 1.2em;
  font-family: 'Josefin Sans';
  font-weight:100;
  background: none;
  color: black;
  box-shadow: none;
  border: 0.5px black solid;
  border-radius: 0px;
}

.btn:hover{
  background: rgba(0, 0, 0, 0.1);
}

.button-row{
  margin-top:5%;
  padding:0px;
}
